beautifulsoup4==4.15.0
Django==6.1
django-ckeditor-5==0.2.20
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework-simplejwt==5.5.1
djangorestframework==3.18.0
phonenumbers==9.0.39
pillow==12.3.0
psycopg2-binary==2.9.12
